<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font CSS (Via CDN) -->
    <!--  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'> -->
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="http://assets.netease.com/??widgets/daterange/daterangepicker.css,widgets/magnific/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="http://assets.netease.com/??widgets/fancytree/skin-win8/ui.fancytree.min.css,libs/jquery_ui/jquery-ui.min.css,fonts/iconsweets/iconsweets.css,widgets/select2/css/core.css,skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="http://assets.netease.com/??admin-tools/admin-forms/css/admin-forms.css" />

    <link rel="stylesheet" type="text/css" href="http://assets.netease.com/a/dc/portal/1.0.0/??font/iconfont.css,style/portal.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sb-top sb-top-lg onload-check" style="overflow-x:hidden;">
    <!-- Start: Main -->
    <div id="main">


    </div>
    <!-- End: Main -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <script src="http://assets.netease.com/libs/??jquery-1.11.1.min.js,jquery_ui/jquery-ui.min.js,react.min.js,react-dom.min.js,mock-min.js"></script>
    <script src="http://assets.netease.com/widgets/fancytree/??jquery.fancytree-all.min.js,extensions/jquery.fancytree.childcounter.js,extensions/jquery.fancytree.columnview.js,extensions/jquery.fancytree.dnd.js,extensions/jquery.fancytree.edit.js,extensions/jquery.fancytree.filter.js"></script>
    <script src="http://assets.netease.com/widgets/??moment/moment.min.js,daterange/daterangepicker.js,select2/select2.min.js,pnotify/pnotify.js,magnific/jquery.magnific-popup.js"></script>

    <script src="http://assets.netease.com/js/??utility/utility.js,demo/demo.js,main.js"></script>
    <script src="http://assets.netease.com/a/dc/portal/1.0.0/<%= htmlWebpackPlugin.files.chunks.build.entry %>"></script>
    <script src="http://assets.netease.com/js/??main.js"></script>
    <!-- END: PAGE SCRIPTS -->




</body>

</html>
