<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="sb-top sb-top-lg onload-check" style="overflow-x:hidden;">
    <!-- Start: Main -->
    <div id="main">


    </div>
    <!-- End: Main -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <script src="http://assets.netease.com/libs/??jquery-1.11.1.min.js,jquery_ui/jquery-ui.min.js,react.min.js,react-dom.min.js,mock-min.js"></script>
     <script src="http://assets.netease.com/a/dc/portal/1.0.0/libs.js"></script>
    <script src="http://assets.netease.com/a/dc/portal/1.0.0/<%= htmlWebpackPlugin.files.chunks.editpage.entry %>"></script>
    <script src="http://assets.netease.com/js/??main.js"></script>
    <!-- END: PAGE SCRIPTS -->



</body>

</html>
